/* THIS WILL BE THE MAIN CSS STYLE FILE FROM THE SYSTEM */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #e9ecef;
}

.form-control {
	resize: none;
}

.div i {
	font-size: 18px;
}
